# Maven build
  target/
  *.jar
  *.war
  *.ear

  # IntelliJ IDEA
  .idea/
  *.iws
  *.iml
  *.ipr
  out/

  # VS Code
  .vscode/

  # H2 DB files
  *.mv.db
  *.trace.db

  # OS
  .DS_Store
  Thumbs.db

  # Logs
  *.log

  # Compiled classes
  *.class